<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>OpenMRS</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->
	
	<!-- Required Modules -->
	<require_modules>
		<require_module version="${initializer.version}">
			org.openmrs.module.initializer
		</require_module>
		<require_module version="${idgen.version}">
			org.openmrs.module.idgen
		</require_module>
	</require_modules>
	<!-- / Required Modules -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.ReferenceDemoDataActivator</activator>
    
</module>

